.form__select 
    input(class="form__select-input" type="hidden" name="")
    .form__select-head Тема обращения:
    ul.form__select-list 
        li.form__select-item Предложение
        li.form__select-item Жалоба
        li.form__select-item Претензия
        li.form__select-item Благодарность
        li.form__select-item Другое:
