html(lang="ru-RU")
    head 
        include ./templates/head/head

include ./components/components

body
    .wrapper 
        main.main 
            include ./templates/directory/directory

    script(src="../index.js") 



